<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:300,400,500,700" rel="stylesheet" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    {{> partials/header title=htmlWebpackPlugin.options.title}}
    <section class="banner text-center white">
        <div class="banner__stars" data-depth="0.00">
            <div class="js-tilt banner__box pt-3 px-5">
                <h1 class="banner__title wow bounceInUp">Daniel Zavala</h1>
                <h3 class="banner__subtitle monse wow bounceInUp" data-wow-delay=".3s">FRONT END & UX ENTUSIASTA</h3>
            </div>
            <img class="banner__meteoro wow animado" id="meteoro" src="/source/img/meteoro.png" data-wow-delay="1s" />
        </div><a class="banner__btn" href="#presentation"><i class="icon-power banner__icon"></i></a>
    </section>
</body>
</html>